path.allArea {
    fill: steelblue;
}

path.homeArea {
    fill: powderblue;
}

path.awayArea {
    fill: lightskyblue;
}

path.scoredArea {
    fill: springgreen;
}

path.savedArea {
    fill: salmon;
}

path.missedArea {
    fill: tomato;
}

.axis text {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

line {
    shape-rendering: crispEdges;
}
