.axis text {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

path {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

text {
    font-family: Arial;
    font-size: 9pt;
}

.winners {
    background-color: steelblue;
}

.team {
    fill: seashell;
}
